<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     .Info{
         position: relative;
         margin-left:1000px;
         margin-top: -390px;
     }
     ul li.hotel{
        position: relative;
        margin-left: 900px;
        margin-top : 20px;
        border:solid 1px black;
        list-style-type: none;    
        width: 350px;
        height: 350px;
      }
      ul li .hotelname{
          font-size: 30px;
          font-weight: bold;
      }
      ul li .rate{
          font-size: 15px;
          font-weight: bold;
      }
      
    </style>
 
</head>
<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Botato Booking</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class       ="nav navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="notification">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{hotelOwner.name}}</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                  </div>
                </div>
              </nav>

            <div> 
                   <input type="text" placeholder="Hotel name">
                   <div>
                    <input type="text" placeholder="Location">
                   </div>
                 <div>
                     <input type="text" placeholder="Telephone">
                 </div>
                 <div>
                     <input type="text"placeholder="Email">
                 </div>
                 <div>
                        <input type="text"placeholder="Postal code">
                    </div>

                <input type="button" value="Add Single Room" id="add-Single">
                 <span id="single"></span><br><br>

                 <input type="button" value="Add Triple Room" id="Add-double">
                 <span id="double"></span><br><br>

                 <input type="button" value="Add Quadratic Room" id="Add-triple">
                 <span id="triple"></span><br><br>

                 <input type="button" value="Add Double Room" id="Add-quadratic">
                 <span id="quadratic"></span><br><br>

                 <input type="button" value="Add premium Room" id="Add-premium">
                <span id="premium"></span> <br><br>         
            </div>
            <input type="button" value="Add hotel">

            <div>
                <h2 class="Info">Owner's hotel</h2>
                      <ul>
                            <li class="hotel" id="hotel">
                                    @each(hotel in hotelOwnerHotels)
                                      <img src="" alt="" width="350" height="200">
                                      <p class="hotelname">{{hotel.hotel_name}}</p>
                                      <p class="rate">{{hotel.rate}}</p>
                                      <p class="questions">If you want to block{{hotel.hotel_name}}?</p>
                                      <button class="block" id="block"></button>
                                    @endeach
                                  </li>
                              
                         </ul>
                  </div>
               

            <script>
            
            document.getElementById("add-Single").addEventListener("click",AddSingleRooms);
            document.getElementById("Add-double").addEventListener("click",AddDoubleRooms);
            document.getElementById("Add-triple").addEventListener("click",AddTripleRooms);
            document.getElementById("Add-quadratic").addEventListener("click",AddQuadraticRooms);
            document.getElementById("Add-premium").addEventListener("click",AddPremiumRooms);


            var single_count = 0;
            var double_count = 0;
            var triple_count = 0;
            var quadratic_count = 0;
            var premium_count = 0;
            function AddSingleRooms(){
                if(single_count==0){
                    single_count++;
                var list=document.getElementById("single");
                var item =document.createElement("input");
                 list.insertBefore(item,list.childNodes[0]);
            }
        }

        function AddDoubleRooms(){
                if(double_count==0){
                    double_count++;
                var list=document.getElementById("double");
                var item=document.createElement("input");
                 list.insertBefore(item,list.childNodes[0]);
            }
        }

        function AddTripleRooms(){
                if(premium_count==0){
                    triple_count++;
                var list=document.getElementById("triple");
                var item=document.createElement("input");
                 list.insertBefore(item,list.childNodes[0]);
            }
        }
        function AddQuadraticRooms(){
                if(premium_count==0){
                    quadratic_count++;
                var list=document.getElementById("quadratic");
                var item=document.createElement("input");
                 list.insertBefore(item,list.childNodes[0]);
            }
        }
       
        function AddPremiumRooms(){
                if(premium_count==0){
                    premium_count++;
                var list=document.getElementById("premium");
                var item=document.createElement("input");
                 list.insertBefore(item,list.childNodes[0]);
            }
        }
        
            </script>

</body>
</html>