<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/UsernameCustomerForm.css" />
    
</head>
<body>
    <h2>Welcome To Our Booking Site</h2>
    <div>
        <div id="Error">
            <h3 id="cs"></h3>
            <h3 id="fn"></h3>
            <h3 id="ln"></h3>
            <h3 id="ss"></h3>
            <h3 id="em"></h3>
            <h3 id="ph"></h3>
            <h3 id="pa"></h3>
            <h3 id="pa1"></h3>
            <h3 id="cc"></h3>
            <h3></h3>
        </div>
        <form  method="POST" onsubmit="return validation()" action="/store/user">
        <!--for customer Or owner-->
        <select name="selectedType" id="select" v-model="selectedType">
                <option value="HOTEL_OWNER">Hotel owner</option>
                <option value="CUSTOMER">Customer</option>
                </select><br><br>
       
        <!--for user inputs-->
            <input type="text" placeholder="Customer Or Owner" class="registration_form" id="username" name="username" required><br><br>
            <input type="text" placeholder="First name" class="registration_form" id="Fullname" name="name" required>
            <input type="text" placeholder="SSN" class="registration_form"  id="ssn" name="ssn" required><br><br>
            <input type="text" placeholder="Email" class="registration_form"  id="email" name="email" required><br><br>
            <input type="text" placeholder="Phone number" class="registration_form"  id="phone" name="phone" required><br><br>
            <input type="password" placeholder="Password" class="registration_form"  id="pass" name="Password" required><br><br>
            <input type="text" placeholder="xxxx-xxxx-xxxx-xxxx" class="registration_form"  id="credit" required><br><br>
            <input type="text" placeholder="Hotel name" style="display: none;" class="registration_form" id="hotel" ><br>
            <input type="submit" value="SignUp" id="button"><br><br>
            <p style="position:relative; margin-left:90px">if you are member?<br><a href="UserCustomerSignin.html">singin</a> </p>
        </form>
        </div>
         <!--for Error entering-->
         
    <script >
    document.getElementById("Error").style.display="none";
document.getElementById("button").addEventListener("click",validation);


function validation(){
    var check = 0;
    //user input
    var Fullname=document.getElementById("Fullname").value;
    var username=document.getElementById("username").value;
    var ssn=document.getElementById("ssn").value;
    var email=document.getElementById("email").value;
    var phone=document.getElementById("phone").value;
    var pass=document.getElementById("pass").value;
    var cpass=document.getElementById("cpass").value;
    var credit=document.getElementById("credit").value; 

    //Regex for user input
    const name = /^[a-zA-Z]+[a-zA-Z]*$/;
    const user_name = /^[a-zA-Z]+[a-zA-Z0-9]*$/;
    const email_check=/^[a-zA-Z0-9]+(@hotmail.com)$|^[a-zA-Z0-9]+(@gmail.com)$|^[a-zA-Z0-9]+(@yahoo.com)$/;
    const pass_check=/^[\w]{8,}/;
    const phone_check=/^[0-9]{11}$/;
    const check_ssn =/^[\w]{8,}$/;
    const credit_check = /^[0-9]{4}(-)[0-9]{4}(-)[0-9]{4}(-)[0-9]{4}$/;
    
    //check validation of input
    if(!name.test(Fullname)){
        document.getElementById("fn").innerHTML="-Invalid First name";
         check++;
    }else document.getElementById("fn").innerHTML="";

   if (! user_name.test(username)){
    document.getElementById("cs").innerHTML="-Invalid User name";
    check++;
   }else document.getElementById("cs").innerHTML="";

   if (! check_ssn.test(ssn)){
    document.getElementById("ss").innerHTML="-Invalid User SSN";
    check++;
   }else document.getElementById("ss").innerHTML="";

   if(!phone_check.test(phone)){
    document.getElementById("ph").innerHTML="-Invalid phone number";
    check++;
   }else document.getElementById("ph").innerHTML="";
   
   if(!credit_check.test(credit)){
    document.getElementById("cc").innerHTML="-Invalid credit card";
    check++;
   }else document.getElementById("cc").innerHTML="";

   if(!email_check.test(email)){
    document.getElementById("em").innerHTML="-Invalid Email";
    check++;
   }else document.getElementById("em").innerHTML="";
    
   if(!pass_check.test(pass)){
     document.getElementById("pa").innerHTML="-Weak Password";
     check++;
    }else document.getElementById("pa").innerHTML="";
    
    if(check>0){
      document.getElementById("Error").style.display="block";
   console.log("false"+check);
    return false;
   }
   else {console.log("true"); document.getElementById("Error").style.display="none"; return true;}
}
    </script>
</body>
</html>