<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script src=""></script>
</head>
<body>
 
  @if(errors.length>0) 
  <ul class="lisgroup">
  @each(error in errors)  
  <li class="list-group-item text-danger">{{error}} </li>
  @endeach
  </ul>  
  @endif

  <div id="Error">
     
  </div>

  <form onsubmit="" >
      
        <p v-if="errors.length">
          <b>Please correct the following Input(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>
      
        <p>
          <label for="name">Username</label>
          <input id="username"v-model="username"type="text"name="username">
        </p>
      
        <p>
                <label for="name">name</label>
                <input id="name"v-model="name"type="text"name="name">
              </p>
      
    
                  <p>
                        <label for="ssn">SSN</label>
                        <input id="ssn"v-model="ssn"type="ssn"name="ssn">
                      </p>
        <p>
          <label for="email">Email</label>
          <input id="email"v-model="email"type="email"name="email">
        </p>
      
        <p>
                <label for="phone">Phone</label>
                <input id="phone"v-model="phone"type="phone"name="phone">
              </p>
            
              <p>
                    <label for="password">Password</label>
                    <input id="password"v-model="password"type="password"name="password">
                  </p>

                  <p>
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword"v-model="confirmPassword"type="confirmPassword"name="confirmPassword">
                      </p>
    

                  <p>
                        <label for="credit">Credit card</label>
                        <input id="credit"v-model="credit"type="credit"name="credit">
                      </p>
                    
        <p>    
                <select v-model="selected" @change="" id="selectedType" name="selectedType" required>
                        <option disabled>choose one </option>
                            <option v-for="option in options" v-bind:value="option.value">
                              {{ option.text }}
                            </option>
                          </select>
                          <span id="selected">Selected: {{ selected }}</span><br><br>    
                   
        </p>

        <p>
          <input type="submit"value="Submit">
        </p>

      </form>

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
      
      <script>
    var check = 0;
    //user input
    var  name = document.getElementById("name").value;
    var username = document.getElementById("username").value;
    var ssn = document.getElementById("ssn").value;
    var email = document.getElementById("email").value;
    var phone = document.getElementById("phone").value;
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    var credit = document.getElementById("credit").value; 


    //Regex for user input
    const name = /^[a-zA-Z]+[a-zA-Z]*$/;
    const user_name = /^[a-zA-Z]+[a-zA-Z0-9]*$/;
    const email_check=/^[a-zA-Z0-9]+(@hotmail.com)$|^[a-zA-Z0-9]+(@gmail.com)$|^[a-zA-Z0-9]+(@yahoo.com)$/;
    const pass_check=/^[\w]{8,}/;
    const phone_check=/^[0-9]{11}$/;
    const credit_check = /^[0-9]{4}(-)[0-9]{4}(-)[0-9]{4}(-)[0-9]{4}$/;
    
    //check validation of input
    if(!name.test(fname)){
        document.getElementById("fn").innerHTML="-Invalid First name";
         check++;
    }else document.getElementById("fn").innerHTML="";

    if(!name.test(lname)){
        document.getElementById("ln").innerHTML="-Invalid Last name";
        check++;
   }else document.getElementById("ln").innerHTML="";
   if (! user_name.test(uname)){
    document.getElementById("cs").innerHTML="-Invalid User name";
    check++;
   }else document.getElementById("cs").innerHTML="";

   if(!phone_check.test(phone)){
    document.getElementById("ph").innerHTML="-Invalid phone number";
    check++;
   }else document.getElementById("ph").innerHTML="";
   
   if(!credit_check.test(credit)){
    document.getElementById("cc").innerHTML="-Invalid credit card";
    check++;
   }else document.getElementById("cc").innerHTML="";

   if(!email_check.test(email)){
    document.getElementById("em").innerHTML="-Invalid Email";
    check++;
   }else document.getElementById("em").innerHTML="";
    if(!pass_check.test(pass)){
     document.getElementById("pa").innerHTML="-Invalid Password";
     check++;
    }else document.getElementById("pa").innerHTML="";
    if(pass!=cpass){
    document.getElementById("pa1").innerHTML="-Password doesn't match";
     check++;
    }else document.getElementById("pa1").innerHTML="";
   if(check>0){
      document.getElementById("Error").style.display="block";
   console.log("false"+check);
    return false;
   }
   else {console.log("true"); document.getElementById("Error").style.display="none"; return true;}

       </script>
     
     <script>
     
     </script>

</body>
</html>