<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script src=""></script>
</head>
<body>
 
        <form id="app"@submit="checkForm" action="/store/user"method="post"novalidate="true" >
      
        <p v-if="errors.length">
          <b>Please correct the following Input(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>
      
        <p>
          <label for="name">Username</label>
          <input id="username"v-model="username"type="text"name="username">
        </p>
      
        <p>
                <label for="name">name</label>
                <input id="name"v-model="name"type="text"name="name">
              </p>
      
    
                  <p>
                        <label for="ssn">SSN</label>
                        <input id="ssn"v-model="ssn"type="ssn"name="ssn">
                      </p>
        <p>
          <label for="email">Email</label>
          <input id="email"v-model="email"type="email"name="email">
        </p>
      
        <p>
                <label for="phone">Phone</label>
                <input id="phone"v-model="phone"type="phone"name="phone">
              </p>
            
              <p>
                    <label for="password">Password</label>
                    <input id="password"v-model="password"type="password"name="password">
                  </p>

                  <p>
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword"v-model="confirmPassword"type="confirmPassword"name="confirmPassword">
                      </p>
    

                  <p>
                        <label for="credit">Credit card</label>
                        <input id="credit"v-model="credit"type="credit"name="credit">
                      </p>
                    
        <p>    
                <select v-model="selected" @change="" id="selectedType" name="selectedType" required>
                        <option disabled>choose one </option>
                            <option v-for="option in options" v-bind:value="option.value">
                              {{ option.text }}
                            </option>
                          </select>
                          <span id="selected">Selected: {{ selected }}</span><br><br>    
                   
        </p>

        <p>
          <input type="submit"value="Submit">
        </p>

      </form>

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      
      <script>
     const app = new Vue({
        el: '#app',
 data: {
    errors:    [],

    selected: '',
    options: [{ text: 'Hotel owner', value: 'HOTEL_OWNER' },
              { text: 'Customer', value: 'CUSTOMER' }],

    username:    null,
   
    name:    null,
    email:    null,
    ssn:      null,
    phone:    null,
    password: null,
    confirmPassword: null,
    credit  : null

  },
  methods: {
    checkForm: function (e) {
      this.errors = [];
      if (!this.username) {
        this.errors.push("User name required.");
      } else if (!this.validUserName(this.username)) {
        this.errors.push('Valid Username required.');
      }

      if (!this.name) {
        this.errors.push("First name required.");
      } else if (!this.validUserName(this.name)) {
        this.errors.push('Valid name required.');
      }


      if (!this.ssn) {
        this.errors.push('SSN required.');
      } else if (!this.validSSN(this.ssn)) {
        this.errors.push('Valid SSN required.');
      }

      if (!this.email) {
        this.errors.push('Email required.');
      } else if (!this.validEmail(this.email)) {
        this.errors.push('Valid Email required.');
      }

      if (!this.phone) {
        this.errors.push('Phone required.');
      } else if (!this.validPhone(this.phone)) {
        this.errors.push('Valid Phone required.');
      }

      if (!this.password) {
        this.errors.push('Password required.');
      } else if (!this.validPasswod(this.password)) {
        this.errors.push('Valid Password required.');
      }

      if (!this.confirmPassword) {
        this.errors.push('Confirm Password required.');
      } else if (this.confirmPassword !=this.password ) {
        this.errors.push("Two password don't match.");
      }

      if (!this.credit) {
        this.errors.push('Credit Card required.');
      } else if (!this.validCredit(this.credit)) {
        this.errors.push('Valid Credit Card required.');
      }




      if (!this.errors.length) {
        return true;
      }

      e.preventDefault();
    },

   validUserName: function(Username){
    const user_name = /^[a-zA-Z]+[a-zA-Z0-9]*$/;
       return user_name.test(Username);
   },
   validFirstName: function(name){
    const name = /^[a-zA-Z]+[a-zA-Z]*$/;
        return name.test(name);
   },


    validEmail: function (email) {
        const email_check=/^[a-zA-Z0-9]+(@hotmail.com)$|^[a-zA-Z0-9]+(@gmail.com)$|^[a-zA-Z0-9]+(@yahoo.com)$/;
          return email_check.test(email);
    },
    validPasswod: function(Passowrd){
        const pass_check=/^[\w]{8,}/;
          return pass_check.test(Passowrd);
    },
    validPhone: function(Phone){
        const phone_check=/^[0-9]{11}$/;
           return phone_check.test(Phone);
    },
    validSSN: function(SSN){
        const ssn_check=/^[0-9]{5,}$/;
          return ssn_check.test(SSN);
    },
    validCredit: function(Credit){
        const credit_check = /^[0-9]{4}(-)[0-9]{4}(-)[0-9]{4}(-)[0-9]{4}$/;
            return credit_check.test(Credit);
    }
  }
})
       </script>
     

</body>
</html>